 <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light"></hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Errandify helps students, families and even small organizations to manage and divide their daily errands. We understand that managing these tasks can be diffucult when you are living with room mates or are sharing a workplace with others.</p>
                </div>
                <div class="col-lg-4">
                    <p>Tom will be your friend while working on these tasks and will be your companion in accomplishing your daily chores. You are gonna love him as he is funny and super cute!!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-user"></i> Join Now
                    </a>
                </div>
            </div>
        </div>
    </section>